@import url('https://fonts.googleapis.com/css2?family=MontSerrat:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    color: #ffffff;
}
body{
    background-color: #101010;
}
a:link,a:visited{
    color: #ffffff;
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
}

body > header:nth-child(1){
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    margin: 0rem 10rem 0rem 10rem;
}
body > header:nth-child(1) > img{
    height: 6rem;
}
body > header:nth-child(1) > nav{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    
}
body > header + article{
    height: 27rem;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items:center;
    justify-content: center;
    
    font-size: 4.3rem;
    background-image: url("../imgs/banner.jpg");
}
body > main > section:nth-child(2){
    display: flex;
    justify-content: space-between;
}
body > main > section:nth-child(2) > article > img{
    width: 5rem;
}
body > main > section:nth-child(2) > article > span{
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
h2{
    text-align: center;
    margin: 2rem;
    font-size: 2.5rem;
}
.card{
    width: 25rem;
    padding: 2rem;
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;
    /*padrão do display: flex é em linha, então para ilinhar na vetical
    é necessario indicar a direção coluna*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    border: #ffffff 3px solid;
    background: transparent;
    padding: 0.5rem 1.2rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}
button > img{
    margin-right: 1.5rem;
}


body > main > section > article:nth-child(1){
    background-color: #c14000;
}
body > main > section > article:nth-child(2){
    background-color: #009987;
}
body > main > section > article:nth-child(3){
    background-color: #ffaa00;
}
body > main > section:nth-child(3){
    background-color: #202020;
    margin: 1.5rem;
    padding: 2rem 7rem;
    display: flex;
}
body > main > section:nth-child(3) > img{
    height: 20rem;
    width: 35rem;
}
body > main > section:nth-child(3) > div{
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body > main > section:nth-child(3) > div > button{
    width: 8rem;
    padding: 1rem;
    margin-top: 2rem;
}